# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore the virtual environment
fastapi-service/venv/
fastapi-service/.venv/

# Ignore Python cache and compiled files
fastapi-service/__pycache__/
fastapi-service/*.pyc
fastapi-service/*.pyo
fastapi-service/*.log

# Ignore system-specific and IDE files
fastapi-service/.DS_Store
fastapi-service/.vscode/
fastapi-service/.idea/

# Ignore environment variables and sensitive files
fastapi-service/.env

# Ignore unnecessary dependency cache files
fastapi-service/pip-log.txt
fastapi-service/pip-delete-this-directory.txt
